<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/aop   
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.springinaction.springido1" />
	<bean id="poeticDuke" class="com.springinaction.springido1.PoeticJuggler">	
		<constructor-arg value="15" />
		<constructor-arg ref="realPoem" />
	</bean>
	<aop:aspectj-autoproxy />
	<!--
	<aop:config>
		<aop:aspect id="test" ref="audience">
			<aop:pointcut id="performance" expression="execution(* com.springinaction.springido1.Performer.perform())" />
			<aop:before pointcut-ref="performance" method="takeSeats" />
			<aop:before pointcut-ref="performance" method="turnOffCellphone" />
			<aop:after-returning pointcut-ref="performance" method="applaud" />
			<aop:after-throwing pointcut-ref="performance" method="demandRefund" />
		</aop:aspect>
	</aop:config>
	-->
	<!--
 	<aop:config>
		<aop:aspect id="test" ref="audience">
			<aop:pointcut id="performance" expression="execution(* com.springinaction.springido1.Performer.perform())" />
			<aop:around pointcut-ref="performance" method="watchPerformance" />
		</aop:aspect>
	</aop:config>
	-->
 </beans>  